<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:seacrh_for, "Search for:") %>
  <%= text_field_tag(:search_text) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="search-results">
  <% SearchController.new.add_to_database(params[:search_text]) %>
  <% @products = Product.paginate(:page => params[:page], :per_page => 10) %>
  <%= render @products %>
</div>
<%= will_paginate @products %>